extends ../layout

block content
  h1 AD-Computer
  p AD-Funktionen

  .container-fluid
    .col-md-4
      form(role='form')
        .form-group
          label(for='inp_hostname') Hostname
          .input-group
            input#inp_hostname.form-control(type='text', placeholder="Hostname",value="pc458")
            span.input-group-btn
              button#btn_search.btn.btn-primary(type='button') Suche

      #out(style='height:300px;overflow:auto')
        ul.list-group
        img.spinner(src='/images/ajax-loader.gif')

  script.
    $(document).ready(function () {
      $.ajaxSetup({ cache: false });
      $("form").submit(function(e){
        e.preventDefault();
        $('#out img').show()
        getList()
      })
      $('#btn_search').click( function(){ $('form').submit() })
    });

    function getList() {
      var opt={
        "hostname": $('#inp_hostname').val()        
        };
      $.getJSON( "/ad/adcomputer", opt, function( data ) {
        if (data.err) {
          alert(data.err)
          return
        }
        var items = [];
        if (data.stdout.length ) {
          $.each( data.stdout, function( key, val ) {
            items.push( "<a href='#' class='list' data-json='" + JSON.stringify(val) + "'>"
              +"<li class='list-group-item'>"
              + "<h4>" + val.Name + "</h4>"
              + "<p>" + val.Operatingsystem + "</p>"
              + "</li></a>" );
          })
        } else {
          items.push("<li class='list-group-item list-group-item-warning'>Keine Fundstelle</li>")
        }
        $('#out img').hide()
        $('#out ul').html(items.join(""));
        $('.list-group-item').click( function(){
            alert( $(this).html() )
        })
        });
      }
